body {
  font-family: 'Times New Roman', Times, serif;  
  margin: 0;
}

header{
  height: 75px;
  background-color: #2EA44F;
  padding-top: 30px;  
}

h1{
  font-family: Audiowide;
  text-align: center;
  font-size: 50px;
  color:azure;
  font-stretch: extra-expanded;
}
  
nav{
  background-color:rgb(30, 30, 36); 
  /* border-bottom: */
}
 nav ul{
   display:flex;
   justify-content: space-evenly;
 }

li{
 display: inline-block;
 font-size: 28px;
 line-height: 2em;
 font-weight: bold;
}

li a{
  text-decoration: none;
  color: rgb(123, 216, 29);
}

html {
  box-sizing: border-box;
}


h2{
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 5px;
}

main{
  width: 80%;
  margin: 0 auto;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.about-section {
  text-align: left;
  font-size: 1.25 rem;
  line-height: 1.5 rem;
  background-color: whitesmoke;
  width: 80vw;
  padding: 15px 15px;
}
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

img{
  height: 300px;
  /* width: 20px; */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  /* clear: both; */
  display: table;
}
nav{
  background-color:rgb(30, 30, 36); 
}

.title {
  font-weight: bold;
  color: #2EA44F;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #2EA44F;
  background-color: #000;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #2EA44F;
  color:antiquewhite;
}

