body {
    background-color: antiquewhite;
       
  }
  
  header{
    height: 75px;
    background-color: #2EA44F;
    padding-top: 30px;  
  }
  
  h1{
    font-family: Audiowide;
    text-align: center;
    font-size: 50px;
    color:azure;
    font-stretch: extra-expanded;
  }
    
  nav{
    background-color:rgb(30, 30, 36); 
    /* border-bottom: */
  }
   nav ul{
     display:flex;
     justify-content: space-evenly;
   }
  
  li{
   display: inline-block;
   font-size: 28px;
   line-height: 2em;
   font-weight: bold;
  }
  
  li a{
    text-decoration: none;
    color: rgb(123, 216, 29);
  }

  main{ 
    position:fixed;
    background-image: url("../images/photoFinishFull2.jpg");
    background-size: cover;
    height: 700px;
  }

  table, th, td{
    background-color:#6B6A66;
    opacity: 1;
    width: 50%;
    margin: auto;
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    text-align: center;
    font-size: 30px;
    table-layout: fixed;
  }

  /* footer{
      height: 250px;
      background-color: #2EA44F;
      padding-top: 30px;
  } */