/* body {
    background-color: antiquewhite;  
  }
  */
  header{
    height: 75px;
    background-color: #2EA44F;
    padding-top: 30px;  
    border: 5px solid red;
  }
  
  h1{
    font-family: Audiowide;
    text-align: center;
    font-size: 50px;
    color:azure;
    font-stretch: extra-expanded;
  }
    
  nav{
    background-color:rgb(30, 30, 36); 
    /* border-bottom: */
  }
   nav ul{
     display:flex;
     justify-content: space-evenly;
   }
  
  li{
   display: inline-block;
   font-size: 28px;
   line-height: 2em;
   font-weight: bold;
  }
  
  li a{
    text-decoration: none;
    color: rgb(123, 216, 29);
  }

  main{ 
    background-image: url("../images/photoFinishFull.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, right;
    height: 70vh;
    border: 5px solid blue;
  }

  table, th, td{
    background-color:#6B6A66;
    opacity: .85;
    width: 50%;
    margin: 50px auto;
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.15em;
    /* table-layout: fixed; */
  }

  footer{
      position: sticky;
      height: 150px;
      background-color: #2EA44F;
      padding-top: 30px;
      border: 5px solid red;
  }

