
body {
  background-color: antiquewhite;
}

header{
  height: 75px;
  background-color: #2EA44F;
  padding-top: 30px; 
}

h1{
  font-family: Audiowide;
  text-align: center;
  font-size: 50px;
  color:azure;
  font-stretch: extra-expanded;
}

nav{
  background-color:rgb(30, 30, 36);
  border-top-color: #C4000C; 
  border-bottom-color: #C4000C;
}

 nav ul{
   display:flex;
   justify-content: space-evenly;
 }

li{
 display: inline-block;
 font-size: 28px;
 line-height: 2em;
 font-weight: bold;
}

a{
  text-decoration: none;
  color: rgb(123, 216, 29);
}
main{
text-align: center;

}

#dash{
  /* text-align: center; */

  width: 1000px;
  height: 500px;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
}

#placeHolder {
 height: fit-content;
 display: inline-block;
 margin-top: 10px;
 color: #ff5437;
 font-size: 28px;
}

 #inputWords {
padding-top: 100px;
padding-right: 80px;
 }

 #inputUserName{
padding-top: 100px;
padding-right: 80px;
 }
 
form {
text-align: center;
font-size: 2em;

  }

span {
padding: 15px;
}

#chkHardcore{
  display: none;
}

label{
  color: #ff5437;
  font-weight: bold;
}

/* display: block;
/*  font-family: Audiowave;

  
  
/* fieldset{

} */

/* label {

} */

button {
height:25px;
background-color: #C4000C;
}

h2{
  font-family: Audiowide;
  font-size: 35px;
  color:azure;
}

instructions{
  padding: 5px 5px 5px 5px;
}

scoring{
  padding-top: 50px;
}

p{
  padding-bottom: 15px;
  line-height: 2em;
}

footer{
  height: 250px;
  background-color: #2EA44F;
  padding-top: 30px;
}