body {
  background-color: antiquewhite;
}

header{
  height: 75px;
  background-color: #2EA44F;
  padding-top: 30px; 
}

h1{
  font-family: Audiowide;
  text-align: center;
  font-size: 50px;
  color:azure;
  font-stretch: extra-expanded;
}

nav{
  background-color:rgb(30, 30, 36);
  border: solid #C4000C; 
  }

 nav ul{
   display:flex;
   justify-content: space-evenly;
 }

li{
 display: inline-block;
 font-size: 28px;
 line-height: 2em;
 font-weight: bold;
}

a{
  text-decoration: none;
  color: rgb(123, 216, 29);
}
main{
text-align: center;
}

#dash{
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#placeHolder {
 height: fit-content;
 display: inline-block;
 margin-top: 50px;
 color: #ff5437;
 font-size: 28px;
 border: solid #C4000C; 
}

#inputWords {
padding-top: 100px;
padding-right: 80px;
 }

 #inputUserName{
padding-top: 100px;
padding-right: 80px;
 }
 
form {
text-align: center;
font-size: 2em;
}

span {
padding: 15px;
}

#chkHardcore{
  display: none;
}

label{
  color: #ff5437;
  font-weight: bold;
}
/*
#game-panel{
  border: solid #C4000C; 
  align-items: center;
}
*/
button {
height:35px;
border-radius: 15%;
background-color: #C4000C;
}

h2{
  font-family: Audiowide;
  font-size: 35px;
  color:azure;
}

#container{
  box-sizing: border-box;
  max-width: 100vw;
  display: flex;
  background-color: #2EA44F;
  padding-top: 30px;
}

.instructions{
  width: 50vw;
  font-size: 1em;
  background-color: #ff5437;
}

.scoring{
  width: 50vw;
  font-size: 1em;
  background-color: aqua;
}

p{
  padding: 10px 20px;
  line-height: 2em;
}
/*
footer{
  display:flex-box;
  height: 250px;
  background-color: #2EA44F;
  padding-top: 30px;
}*/